extends ../layouts/default

block intro

block content
  .container: .jumbotron
    if headshot && headshot.images[0]
      img(src=headshot.images[0].limit(680,680))
    h1 Michael Rehse
    p Michael Rehse, a graduate of Pace University with a BA in Computer Science, is a native of Redmond, Washington and a member of Co-Op Theatre East, Ophelia Theater Group, and the CAGE Collective. Recent credits include Comedy of Errors (Antipholus of Syracuse) and Things I Left on Long Island (Stephen) in the NYC Fringe. Other favorite credits include Two Gentlemen of Verona: A Swashbuckling Comedy (Valentine, NYC Fringe), The Importance of Being Earnest (Algernon), Hamlet (Hamlet), Measure 4 Measure (Claudio), and in The Cast Party: A Survival Story (Owen Merrick). He recently collaborated in writing and performing What to Do In Case You Miss The Rapture, and was recently seen on the Biography Channel reenacting Patrick Muldoon's story in Celebrity Ghost Stories.
